*{
  margin: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: gray;
  height: 50px;
  align-items: center;
  font-size: 25px;
}
